<%- include('Header'); -%>
    <a class="nav-link active" aria-current="page" href="/login">Login</a>
    <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>

    </div>
    </div>
    </div>
    </nav>

    <div class="container bg-light pt-3 rounded mt-3">
        <h1 class="ms-3">Hello</h1>
        <div class="p-5">
            <h3>About Study Helper</h3>
            <p>Welcome to Study Helper! This is a platform where students can use it to store and manage their class
                notes in one place.<br> In this digital ERA, most students don't want to store their notes in a
                traditional way, so we provide a way to store your notes digitally and access from anywhere.<br>So it
                will be useful for students who want to study where ever they go, without wanting to carry bulk notes,
                students who wants to study from digital platform, students who are lazy about writing notes manually in
                notebooks, etc..<br><br>
                What you are waiting for?

                <a class="nav-link active" aria-current="page" href="/signup">Sign up!</a>
                <br>Already an user? <a class="nav-link active" aria-current="page" href="/login">Login!</a>
            </p>

        </div>
    </div>
    </body>

    </html>