<%- include('Header'); -%>
    <a class="nav-link active" aria-current="page" href="/login">Login</a>
    <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>

    </div>
    </div>
    </div>
    </nav>

    <div class="container bg-light pt-3">
        <h1>Hello</h1>
    </div>
    </body>

    </html>