<%- include('Header'); -%>

    <body>
        <div class="container bg-light mt-3">
            <input type="email" name="email_id" id="email_id" required><br>
            <input type="password" name="password" id="password" required><br>
            <button onclick="LoginUser()">Submit</button>
        </div>
        <script src="/scripts/login.js"></script>
    </body>

    </html>