<%- include('Header'); -%>
    <a class="nav-link active" aria-current="page" href="/login">Login</a>

    </div>
    </div>
    </div>
    </nav>

    <div class="container bg-light pt-3">username
        <input type="text" name="username" id="username" required><br>
        Roll number
        <input type="text" name="roll_no" id="roll_no" required><br>
        Age
        <input type="number" name="age" id="age" required><br>
        Email id
        <input type="email" name="email_id" id="email_id" required><br>
        Passsword
        <input type="password" name="password" id="password" required><br>
        <button onclick="CreateUser()">Submit</button>
    </div>
    <script src="/scripts/signup.js"></script>
    </body>

    </html>