@font-face {
    font-family: Quick-sand;
    src: url("Quicksand/static/Quicksand-Regular.ttf");
  }
  body {
    font-family: Quick-sand;
    background-color: rgb(250, 236, 219);
    color: rgb(119, 31, 31);
  }
  p{
    color:  rgb(66, 53, 53);
  }
  a:hover, .glow-me:hover {
    color: rgb(255, 255, 255);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 
                   0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }